body {
  margin: 0;
}

.container {
  width: 100%;
  margin: auto;
  height: 100vh;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.slider-container {
  /* padding-top: 4rem;
  margin-right: 5rem; */
  /* align-self: center;
  justify-self: center; */
}

.slider {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 4rem;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.w-chart {
  width: 400px;
  height: 300px;
  margin-left: 5rem;
}
